.card {
    width: 130px;
    background-color: var(--bgSecondary);
    border-radius: 5px;
    padding: 10px;
    transition: background-color .4s ease;
}

.card .fellepo {
    font-size: larger;
    margin-bottom: 5px;
}

.card .kezdes {
    font-size: small;
    margin: 0;
}

.card .ido::before {
    content: 'Duration: '
}

.card button {
    width: fit-content;
    background-color: var(--bgButton);
    border: 1px solid var(--border);
    border-radius: 10px;;
    color: var(--text);
    padding: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
}

.card button:hover {
    background-color: var(--bgHigh);
}

.card.disabled {
    background-color: var(--bgDisabled);
}

.card.disabled * {
    color: var(--textDisabled);
}

.card.disabled button {
    background-color: var(--bgDisabled);
    border-color: transparent;
}