.nav {
    background-color: var(--bgSecondary);
    width: 100%;
}

.nav .items {
    display: flex;
    margin: 0;
    list-style: none;
}

.nav a {
    text-decoration: none;
    padding: 10px;
    background: transparent;
    transition: all .2s ease;
}

.nav a:hover {
    background: var(--bgHigh);
}

.nav a.selected {
    border-bottom: 1px solid;
    border-color:  var(--text);
    transition: boder-color .2s ease;
}

.nav a.selected {
    border-color: var(--textHigh);
}